---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="relative overflow-hidden w-max px-6 py-2 my-5 border border-black rounded-ee-[4px]">
    {title}
    <img
        class="absolute bottom-[-1px] right-[-1px]"
        src="/components/WorksTag.svg" alt="MarkTag">
</div>
