---
import { Icon } from "astro-iconify";
---

<a
    href="mailto:timdaik@gmail.com"
    class="w-max px-5 py-2 flex items-center gap-3 bg-primary-green hover:bg-primary-blue transition-all shadow-md rounded-xl"
>
    <div>
        <p class="text-xl font-bold">Contact Me</p>
        <p class="text-sm">timdaik@gmail.com</p>
    </div>
    <div class="size-8">
        <Icon name="ri:send-plane-line" />
    </div>
</a>
