---
import BlogCard from "@components/BlogCard.astro";
import SectionHeading from "@components/Section/SectionHeading.astro";
import Icon from "astro-iconify";
import { getCollection } from "astro:content";
import Layout from "src/layouts/Layout.astro";

const blogContents = await getCollection("blog");

const blogs = blogContents.sort((a, b) => {
	return b.data.updatedAt.localeCompare(a.data.updatedAt);
});
---

<Layout title="Blogs">
	<main>
		<section id="blog" class="px-10 pb-20">
			<div class="text-center">
				<SectionHeading title="Blogs" />
				<p class="py-5 text-lg leading-[2]">
					物書きみたいなことをしています。<br />
					最近触った関連の技術記事や、ふと思ったことポエムなどを徒然なるままにタイプしていきます。
				</p>
			</div>
			<div class="pt-10 md:pt-20">
				<ul
					class="w-fit mx-auto grid gap-x-10 gap-y-5 md:grid-cols-2 lg:grid-cols-3"
				>
					{
						blogs.map((item) => (
							<BlogCard
								title={item.data.title}
								slug={item.slug}
								updatedAt={new Date(item.data.updatedAt).toLocaleDateString()}
								eyecatch={item.data.cover.src}
							/>
						))
					}
				</ul>
			</div>
		</section>
	</main>
</Layout>
