---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Works | timtim.tech">
	<main class="mt-[20vh] flex flex-col items-center justify-center gap-4">
		<p>🚧只今準備中です！</p>
		<p>2024年12月末までに公開する予定です。</p>
		<p>申しわけありません🙇🙇</p>
	</main>
</Layout>
