---
import Hero from '../components/Section/Hero.astro';
import Layout from '../layouts/Layout.astro';
import About from '../components/Section/About.astro';
import Blogs from '../components/Section/Blogs.astro';
import Works from '../components/Section/Works.astro';
import Hobby from '../components/Section/Hobby.astro';
import Contact from '../components/Section/Contact.astro';
---

<Layout title="Timdaik's Portfolio Page. | timtim.tech">
	<main>
		<Hero />
		<!-- <About /> -->
		<!-- <Hobby /> -->
		<Blogs />
		<Works />
		<Contact />
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
	}
</style>
