---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="TimTim's portfolio page.">
	<main>
		<Hero />
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
	}
</style>
