---
import SNSNavButton from "../button/SNSNavButton.astro";
---

<header class="h-[80px] w-full px-5 md:px-14 flex items-center justify-between">
	<h1 class="text-3xl font-hina">
		<a href="/">&lt;Timtim /&gt;</a>
	</h1>
	<nav>
		<SNSNavButton />
	</nav>
</header>
