---
import { Icon } from "astro-iconify";
import Link from "./Link.astro";
---

<header>
    <h1>timtim.tech</h1>
    <nav>
        <ul>
            <li>
                <Link href="https://github.com/hengin-eer/">
                    <Icon name="ri:github-line" />
                </Link>
            </li>
            <li>
                <Link href="https://x.com/tim_daik">
                    <Icon name="ri:twitter-x-line" />
                </Link>
            </li>
            <li>
                <Link href="https://instagram.com/timdaik">
                    <Icon name="ri:instagram-line" />
                </Link>
            </li>
        </ul>
    </nav>
</header>
