---
interface Props {
    href: string;
    classes?: string;
}

const { href, classes } = Astro.props;
---

<a href={href} class={classes} target="_blank" rel="noopener noreferrer">
    <slot />
</a>
