<div class="relative w-max mx-auto mt-[120px] mb-5">
    <img
        class="absolute top-[-40px] left-[-40px]"
        src="/components/WorksOfferBars.svg" alt="WorksOfferBars" />
    <p class="mb-1 text-base text-center">他にも制作物が沢山あります！！</p>
    <p class="text-base text-center">お時間ある方は覗いてみてはいかが？</p>
</div>
