---
import { contentfulClient } from "../../lib/contentful.js";
import BlogCard from "../BlogCard.astro";
import SectionHeading from "./SectionHeading.astro";

const entries = await contentfulClient.getEntries({
    content_type: "blog",
});

const blogs = entries.items;
---

<section id="blog">
    <div class="w-min">
        <SectionHeading title="Blogs" />
        <p class="mt-4 ml-4 text-lg leading-[2]">
            物書きみたいなことをしています。<br />
            最近触った関連の技術記事や、ふと思ったことポエムなどを徒然なるままにタイプしていきます。
        </p>
    </div>
    <div class="pt-10 overflow-x-scroll">
        <ul class="w-max px-4 flex items-start gap-5">
            {
                blogs.map((item, i) => (
                    <BlogCard
                        title={item.fields.title}
                        slug={item.fields.slug}
                        updatedAt={new Date(item.sys.updatedAt).toLocaleDateString()}
                        eyecatch={item.fields.eyecatch.fields.file.url} 
                    /> // eyecatchでエラー出ているけど、フィールドは存在する
                ))
            }
        </ul>
    </div>
</section>
