---
import Link from "../Link.astro";
import SNSNavButton from "../button/SNSNavButton.astro";
---

<footer class="px-20 pt-10 pb-5 text-white bg-primary-blue">
    <h3 class="mb-2 text-3xl font-hina">
        timtim.&lt;tech/&gt;
    </h3>
    <div class="flex items-end justify-between">
        <ul class="flex items-center gap-5">
            <li class="text-lg">
                <a href="#about">About</a>
            </li>
            <li class="text-lg">
                <a href="#hobby">Hobby</a>
            </li>
            <li class="text-lg">
                <a href="#blog">Blog</a>
            </li>
            <li class="text-lg">
                <a href="#works">Works</a>
            </li>
            <li class="text-lg">
                <a href="#contact">Contact</a>
            </li>
        </ul>
        <SNSNavButton />
    </div>
    <p class="mt-16 text-base text-center">
        ©️ 2024~ | timtim.tech | Created with 
        <span class="text-red">❤</span> by 
        <Link href="https://x.com/tim_daik" classes="underline">@tim_daik</Link>
    </p>
</footer>

<style>
    .text-red {
        color: red;
    }
</style>
