---
import Header from "../components/Header/Header.astro";
import '@fontsource/zen-kaku-gothic-new';
import '@fontsource/hina-mincho';
import '@fontsource/shippori-antique-b1';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="This page is TimTim's portfolio page. "
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="wrapper">
			<Header />
			<slot />
		</div>
	</body>
</html>
<style is:global>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	:root {
		--primary-green: #18EF95;
		--primary-blue: #13AED0;
		--white: #ffffff;
		--black: #000000;
		--accent: 136, 58, 234;
	}
	html {
		font-family: 'Zen Kaku Gothic New';
		background: var(--white);
		background-size: 224px;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.wrapper {
		position: relative;
	}
	.font-hina {
		font-family: 'Hina Mincho';
	}
	.font-shippori {
		font-family: 'Shippori Antique B1';
	}
</style>
